@model cloudscribe.Pagination.Models.PagedResult<Film>
@using FilmsCatalog.Constans;
@{
    ViewData["Title"] = "Catalog";
    ViewData["Controller"] = "Films";
    ViewData["Action"] = "ShowCatalog";
    ViewData["MaxNumberPages"] = FilmsPaginationConstans.MAX_NUMBER_PAGES;
}

@* Available only to an authorized user *@
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a class="btn btn-outline-dark" asp-action="Create">Добавить новый фильм</a>
    </p>
}


<partial name="_PaginationPartial" view-data="ViewData" model="Model" />
<section class="catalog shadow-sm mb-3">
    @if (!Model.Data.Any())
    {
        <h6 class="font-italic text-center col-12">Простите...</h6>
        <p class="font-italic text-muted text-center col-12">В каталоге ещё нет фильмов</p>
    }
    else
    {
        @foreach (var film in Model.Data)
        {
            <article class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <a asp-controller="Films" asp-action="Details" asp-route-filmId="@film.Id" class="image fit"><img src="/@film.PathToPoster" /></a>
                <header>
                    <h5>Название:</h5><h2><a asp-controller="Films" asp-action="Details" asp-route-filmId="@film.Id">@film.Name</a></h2>
                </header>
                <footer><span class="date">Год выпуска : <br />@film.YearsOfRealease.ToString("d")</span></footer>
            </article>
        }
    }
</section>
<partial name="_PaginationPartial" view-data="ViewData" model="Model" />
